*.class
*.log

**/.DS_Store
work/
classes/

.classpath
.idea/
.bsp/
.directory
**/.classpath
**/.project
**/.settings/
target/
**/.checkstyle
**/.checkstyle-rules
**/.fbprefs
**/.findbugs-excludes
**/.pmd
**/.ruleset
*.swp
*.ipr
*.iws
